body
{
 margin:0;
 padding:0;
 background-color:#f1f1f1;
}
.box
{
 width:500px;
 padding:10px;
 background-color:#fff;
}
#page_list li
{
 padding:11px;
 background-color:#f9f9f9;
 border:1px dotted #ccc;
 cursor:move;
 margin-top:12px;
}
#page_list li.ui-state-highlight
{
 padding:12px;
 background-color:#ffffcc;
 border:1px dotted #ccc;
 cursor:move;
 margin-top:12px;
}