/*-------------------------------
  Categori Area CSS
--------------------------------*/
.categori-page-news{
    .categoti-content-area{
        padding-left: 15px;
        padding-right: 15px;
        .mycol{
            padding: 0px;
        }
    }
}
