/*-------------------------
Logo Header Area Start
--------------------------*/

.logo-header{
  padding: 7px 0px;
 .add-banner{
   display: block;
   text-align: right;
   img{
     display: inline-block;
   }
 }

}

